h1 {
    color: aqua;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
}

.timer {
    text-align: center;
    margin: auto;
    color: aqua;
}

label {
    color: aqua;
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    table-layout: fixed;
    width: 300px;
    height: 300px;
    background-color: rgb(113, 205, 241);
}

tr,
td {
    width: 50px;
    height: 50px;
    background-color: rgb(42, 46, 240);
    border-radius: 10%;
    transition-duration: 0.5s;
}

.restart {
    margin-top: 10px;
    color: aqua;
}

.restart:hover {
    cursor: pointer;
}